// Dashboard doctors


.body-admin {
  padding: 0;
  overflow-x: hidden;
}
.j-wrap-admin {
  display: flex;
  position: relative;
  max-width: $max-width-screen;

}

.modal-type2 {
  display: none;

  .modal-delay-style {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    max-width: 500px;
    text-align: center;
    font-size: 14px;

    h3 {
      text-transform: capitalize;
      font-size: 2em;
      color: $color-secondary;
    }

    p {
      &:last-of-type {
        padding-top: $space-2;
      }
    }

    select {
      max-width: 150px;
      margin-bottom: $space-4;
    }

    button {
      width: auto;
      margin-bottom: 0;
      padding-top: $space-base;
      padding-right: $space-2;
      padding-bottom: $space-base;
      padding-left: $space-2;
    }
  }
}

.search-input {
  position: relative;

  .input-search {
    text-indent: 32px;
    border-radius: 8px;

  }

  span {
    display: flex;
    align-items: center;
    position: absolute;
    top: 8px;
    left: 16px;

    img {
      width: 15px;
      height: auto;
      margin: 0;
    }
  }
}
.admin-nav-check {
  position: absolute;
  clip: rect(0, 0, 0, 0);

  &:checked {
    ~ label {
        span {
          background-color: $white;
        }
        span:before {
          top: -10px;
          transform: rotate(0deg);
        }
        span:after {
          bottom: -10px;
          transform: rotate(0deg);
        }
    }
    + .dr-admin-nav {
      transform: translateX(-160px);

      .dr-profile-nav{
        visibility: hidden;
        opacity: 0;
        transform: translateY(-100px);
        transition: all .5s ease-in-out;
      }

      ul {
        a {
          li {
            padding-right: $space-base;
          }
        }
      }
      .footer-nav {
        visibility: hidden;
        opacity: 0;
        transform: translateY(0);
        transition: all .5s ease-in-out;
      }
    }
    ~ .main-container {
      left: 40px;
      transition: all .5s ease-in-out;
    }
  }

}

label[for="admin-nav-check"] {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0px;
        padding-top: 14px;
        padding-left: 5px;
        color: $white;
        cursor: pointer;
        z-index:4;
        span,
        span:before,
        span:after {
          left: 0;
          border-radius: 2px;
          height: 5px;
          width: 30px;
          margin-left: 4px;
          background: $white;
          position: absolute;
          display: block;
          content: '';
          transition: all .5s ease-in-out ;
        }
        span {
          background-color: transparent;
        }
        span:before {
          top: 0;
          transform: rotate(-45deg);
        }
        span:after {
          bottom: 0;
          transform: rotate(45deg);
        }
}

.dr-admin-nav {
  display: flex;
  position: fixed;
  top: 0;
  flex-direction: column;
  width: 200px;
  height: 100%;
  padding-top: 25px;
  background-color: $color-primary;

  .dr-profile-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $gray-ghost;

    img {
      max-width: 120px;
      height: auto;
      @media screen and (max-width: $mobile){
        max-width: 100px;
        margin-bottom: $space-base;
      }
    }

    h3 {
      font-size: 18px;
      text-transform: capitalize;
      margin: 0;
      color: $white;
      @media screen and (max-width: $mobile){
        line-height: 1;
      }
    }

    h4 {
      font-size: 12px;
      font-weight: 400;
      text-transform: capitalize;
      color: $white;
    }
  }

  ul {
    margin: 0;
    padding: 0;

    a {

      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: $space-base;
        padding-right: $space-3;
        padding-bottom: $space-base;
        padding-left: $space-3;
        border-bottom: 1px solid $gray-ghost;
        @media screen and (max-width: $mobile){
          padding-top: $space-base /2;
          padding-right: $space-3;
          padding-bottom: $space-base / 2;
          padding-left: $space-3;
        }

        &:hover {
          background-color: $gray-dark;

          h2 {
            font-weight: 600;
          }

          .svgbold {
            stroke: $white;
            stroke-width: 0.5;
            transition: all 500ms ;
          }
          .svgbold-path {
            stroke: $white;
            stroke-width: 2;
            transition: all 500ms ;
          }
        }


        h2 {
          display: inline-flex;
          margin: 0;
          font-size: 12px;
          font-weight: 400;
          letter-spacing: 2px;
          color: $white;
        }

      }
    }
  }

  .footer-nav {
    display: flex;
    width: 100%;
    margin-top: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid $gray-ghost;

    ul {
      width: 100%;
      li {
        width: 100%;
        justify-content: center;
      }
    }

    img {
      margin-top: $space-2;
      margin-right: 0;
      margin-bottom: 0;
      margin-left:  0;
      @media screen and (max-width: $mobile){
        max-width: 100px;
      }
    }
    p {
      font-size: 10px;
      color: $color-inverse;
    }
  }

}

.main-container {
  min-height: 100%;
  width: -webkit-fill-available;
  position: relative;
  top: 0;
  left: 200px;
  margin-right: 48px;
  z-index: 3;
  transition: all .2s ease-in-out;

  #info-box-selector {
    position: absolute;
    clip: rect(0, 0, 0, 0);

    &:checked {
      ~ .info-box {
        visibility: hidden;
        opacity: 0;
        height: 0;
        transform: translateY(-100%);
        transition: all .5s ease-in-out;
      }
    }
  }
  .info-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: auto;
    background-color: $gray-ghost;
    @include box-shadow(0, 0, 5, 5, $shadow-color);

    p {
      font-weight: bold;
      margin-top: 0;
      margin-right: 0;
      margin-bottom: 0;
      margin-left: $space-base;
      @media screen and (max-width: $mobile){
        font-size: 12px;
      }
    }

    img {
      margin-right: $space-2;
      margin-bottom: 0;
      cursor: pointer;

    }
  }
  .main-content-wrapper {
    display: flex;
    flex-flow: row wrap;
    padding-top: $space-base;
    padding-left: $space-2;
    @media screen and (max-width: $mobile){
      padding-left: $space-base;
    }

    .title-container {
      display: flex;
      order: 1;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      @media screen and (max-width: $mobile){
        flex-flow: column nowrap;
        align-items: flex-start;
      }
      .title {

        img {
          display: inline-flex;
          vertical-align: middle;
          margin-bottom: $space-base;
          @media screen and (max-width: $tablet){
            max-width: 30px;
          }
        }

        h2 {
          display: inline-flex;
          margin-bottom : $space-base;
          color: $color-warning;
          @media screen and (max-width: $tablet){
            font-size: 1em;
          }
        }

        h1 {
          display: inline-flex;
          font-size: 1.5em;
          padding-left: $space-base;
          margin-bottom: $space-base;
          @media screen and (max-width: $tablet){
            font-size: 1em;
          }
        }
        p {
          display: block;
          @media screen and (max-width: $tablet){
            font-size: 12px;
          }
        }
      }
      .fecha {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        @media screen and (max-width: $mobile){
          align-self: flex-end;
        }

        h3 {
          font-size: 1em;
          margin-bottom: 0;
          @media screen and (max-width: $tablet){
            font-size: .7em;
          }
        }
        p {
          font-size: 12px;
          @media screen and (max-width: $tablet){
            font-size: 10px;
          }
        }
      }
    }
    .icons-container {
      display: flex;
      order: 2;
      justify-content: space-around;
      width: 100%;
      margin-bottom: $space-2;
      @media screen and (max-width: $mobile){
        flex-flow: row wrap;
      }

      .home-icon {
        @media screen and (max-width: $mobile){
          width: 50%;
        }

        a {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          img {
            padding-right: $space-base;
            padding-left: $space-base;
          }
          h3 {
            font-size: 1em;
          }
        }
      }
      span {
        width: 2px;
        height: 150px;
        background-color: $gray-ghost;
        @media screen and (max-width: $mobile){
          display: none;
        }
      }
    }
    .newsfeed-container {
      display: flex;
      order: 3;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      width: 50%;
      @media screen and (max-width: $mobile){
        order: 4;
        width: 100%;
      }

      .newsfeed-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-top: $space-base;
        padding-bottom: $space-base;
        border-top: 1px solid $gray-lighter;
        border-bottom: 1px solid $gray-lighter;

        h2 {
          font-size: 1.5em;
          text-transform: capitalize;
          padding-left: $space-2;
          margin-bottom: 0;
        }
        h3 {
          font-size: 1em;
          text-transform: capitalize;
          color: $color-warning;
          padding-right: $space-base;
          margin-bottom: 0;
        }
      }
      .newsfeed-item {
        display: flex;
        flex-flow: row;
        padding-top: $space-2;
        padding-bottom: $space-2;
        letter-spacing: normal;
        border-bottom: 2px solid $gray-lighter;

        &:last-child {
          border-bottom: none;
        }
        .newsfeed-img {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          width: 35%;

          img {
            width: 100%;
            height: auto;
            margin: 0;
          }
        }
        .newsfeed-content {
          display: flex;
          width: 65%;

          .time {
            display: flex;
            justify-content: flex-end;
            min-width: 45px;
            margin-right: $space-base;

            h2 {
              color: $gray-light;
              text-transform: capitalize;
            }

          }
          .topic {
            display: flex;
            flex-direction: column;

            .topic-txt {

              h3 {
                font-size: 1em;
                margin-bottom: 0;
              }
              p{
                font-size: 12px;
                margin-bottom: $space-base;
              }
              .writter {
                font-size: 8px;
                margin-bottom: 2px;
              }
            }
            .social {
              display: flex;
              justify-content: flex-end;
              margin-bottom: $space-base;

              p{
                font-size: 12px;
                margin-bottom: 0;
              }
              a {
                img {
                  height: 15px;
                  width: auto;
                  padding-left: $space-base;
                  margin-bottom: 0;
                }
              }
            }
            .comment {
              display: flex;
              flex-direction: column;
              font-size: 10px;

              img {
                align-self: flex-start;
                margin-bottom: 0;
              }
              p {
                margin-bottom: 0px;

                &:last-child {
                  align-self: flex-end;
                }
              }
            }
          }
        }
      }
    }
    .agenda-container {
      display: flex;
      order: 4;
      flex-direction: column;
      width: 50%;
      @media screen and (max-width: $mobile){
        order: 3;
        width: 100%;
      }

      .agenda-title {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        padding-top: $space-base;
        padding-bottom: $space-base;
        @media screen and (max-width: $mobile){
          justify-content: space-around;
        }

        button {
          width: 35%;
          margin-left: $space-4;
          padding: $space-base;
          font-size: 0.8em;
          @media screen and (max-width: $tablet){
            width: 40%;
            font-size: 0.7em;
            padding-left:  $space-2;
          }
          @media screen and (max-width: $mobile){
            padding-left: $space-base;
            margin-left: $space-base;
          }
        }

        .search-input {
          width: 45%;
          position: relative;
          margin-left: $space-3;
          @media screen and (max-width: $tablet){
            width: 35%;
            margin-left: $space-2;
          }
          @media screen and (max-width: $mobile){
            margin-left: $space-base;
          }

          .input-search {
            @media screen and (max-width: $tablet){
              min-width: 100px;
            }
            @media screen and (max-width: $mobile){
              min-width: 120px;
            }
          }

        }
      }
      .agenda-content {
        margin-left: $space-3;
        border-left: 1px solid $gray-lighter;
        @media screen and (max-width: $tablet){
          margin-left: $space-base;
        }
        @media screen and (max-width: $mobile){
          margin-left: 0;
          border: none;
        }


        input {
          position: absolute;
          clip: rect(0, 0, 0, 0);

          &:checked {
            + .agenda-item {
              border-left: 4px solid $color-secondary;
              background-color: $gray-ghost;
              transition: all 800ms ease-in-out;

              .hr-delay {

                h3 {
                  font-weight: 500;
                  transition: all 800ms ease-in-out;
                }
              }

              .name-contact {
              transition: all 800ms ease-in-out;
                h3 {
                  padding-right: $space-base;
                  color: $color-secondary;
                }
              }
              .name-contact-info {
                visibility: visible;
                opacity: 1;
                height: auto;
              }
            }
          }
        }

        .agenda-item {
          display: flex;
          flex-flow: row wrap;
          margin-top: 0;
          margin-right: 0;
          margin-bottom: $space-4;
          margin-left: $space-4;
          padding-top: $space-4;
          padding-left: $space-2;
          border-left: 4px solid transparent;
          transition: all 200ms ease-in-out;
          @media screen and (max-width: $tablet){
            margin-top: 0;
            margin-bottom: $space-base;
            margin-left: $space-base;
            padding-top: $space-2;
            padding-left: $space-base;

          }
          @media screen and (max-width: $mobile){
            margin-left: 0;
            padding-left: 0;
          }

          .hr-delay {
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-end;
            align-items: center;
            width: 50%;

            h3 {
              line-height: 1;
              font-size: 50px;
              font-weight: 100;
              color: $gray-light;
              margin-top: $space-2;
              margin-bottom: $space-base;
              transition: all 500ms ease-in-out;
              @media screen and (max-width: $tablet){
                font-size: 2.5em;
                margin-top:  0;
              }
            }

            button {
              width: auto;
              margin-bottom: 0;
              padding-top: $space-base;
              padding-right: $space-2;
              padding-bottom: $space-base;
              padding-left: $space-2;
              letter-spacing: 2px;
              @media screen and (max-width: $tablet){
                font-size: .8em;
              }
            }
          }
          .name-contact {
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-end;
            align-items: flex-end;
            width: 50%;
            padding-right: $space-2;
            @media screen and (max-width: $tablet){
              padding-right: $space-base;
            }

            h3 {
              margin-top: $space-2;
              margin-bottom: 0;
              line-height: 1;
              @media screen and (max-width: $tablet){
                margin-top: 0;
                font-size: 1em;
              }
            }

            p {
              @media screen and (max-width: $tablet){
                font-size: 12px;
                line-height: 1;
                margin-bottom: $space-base;
              }
            }
            button {
              display: flex;
              justify-content: center;
              align-items: center;
              align-self: flex-end;
              margin: 0;
              padding: 0;

              label {
                padding: $space-base;
                margin: 0;
                cursor: pointer;
                @media screen and (max-width: $tablet) {
                  font-size: .8em;
                }
              }
            }
          }
          .name-contact-info {
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: flex-end;
            width: 100%;
            padding-bottom: $space-3;
            visibility: hidden;
            opacity: 0;
            height: 0;
            transition: all 200ms ease-in-out;

            p {
              width: 180px;
              margin-top: 0;
              margin-right: $space-3;
              margin-bottom: 0;
              margin-left: 0;
              background-color: $white;
              padding-right: $space-3;
              transition: all 100ms ease-in-out;
            }
          }
        }
      }
    }
  }
}
