.home-hook {
  min-height: 640px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $space-3 0;
  .unit {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: $space-2;
    img:last-child {
      margin-bottom: 0;
    }
    p:last-child {
      margin-bottom: 0;
    }
    h3 {
      margin-bottom: 0;
    }
  }
  &.alternative {
    background-color: $gray-ghost;
    .grid {
      @media screen and (max-width: 768px){
        flex-direction: column-reverse;
      }
    }
  }
}
